@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Finantial Chat</h1>
    <p class="lead">Chat application where you can talk with several users and you can also get stock quotes from Stooq.com.</p>
    <p><a href="/Home/Chat" class="btn btn-primary btn-lg">Chatroom &raquo;</a></p>
</div>